{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Recruiter Profile</li>
    </ol>
  </nav>
  <!-- <h2 class="mb-3">My Quizzes</h2> -->
  <a href="{% url 'teachers:my_jobs' %}" class="btn btn-primary mb-3" role="button">Home</a>
  <a href="{% url 'teachers:add_personal' %}" class="btn btn-primary mb-3" role="button">Personal Details</a>
  <a href="{% url 'teachers:add_organization' %}" class="btn btn-primary mb-3" role="button">Organizational Details</a>
  <a href="{% url 'teachers:post_job' %}" class="btn btn-primary mb-3" role="button">Post Job</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Organisation name</th>
          <th>Date</th>
          <th>Profile</th>
          <th>Status</th>
          <th>Application</th>
          <th>Application Deadline</th>
          <th>Number of Position</th>
          <th>Package</th>
        </tr>
      </thead>
      <tbody>
         <!--<table class="table table-bordered">-->
          {% for object in object_list %}
            <tr>
              <td>{{ object.org.organization_name }}</td>
              <td>{{ object.primary_profile}}</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>{{ object.apply_deadline }}</td>
              <td>{{ object.no_of_position }}</td>
              <td>{{ object.package }}</td>
              <!--<td>x</td>-->
              <!--<td>x</td>-->
            </tr>
          {% endfor %}
      </tbody>
    </table>
        <!--<section>-->
            <!--<tr>-->
              <!--<td class="bg-light text-center font-italic" colspan="5">Any student had not applied yet.</td>-->
            <!--</tr>-->

          <!--</section>-->
      </tbody>
    </table>
  </div>
{% endblock %}
