{% extends 'base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Recruiter Profile</li>
      <li class="breadcrumb-item active" aria-current="page">{{ detail.first_name }}</li>
    </ol>
  </nav>
  <a href="{% url 'teachers:my_jobs' %}" class="btn btn-primary mb-3" role="button">Home</a>
  <a href="{% url 'teachers:add_organization' %}" class="btn btn-primary mb-3" role="button">Organizational Details</a>
  <a href="{% url 'teachers:add_personal' %}" class="btn btn-primary mb-3" role="button">Personal Details</a>
  <a href="{% url 'teachers:post_job' %}" class="btn btn-primary mb-3" role="button">Post Job</a>
  
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
          {% for object in applicants %}
            <tr>
              <td>{{ object.student.user }}</td>
            </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="5">You haven't created any job yet.</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
