{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Organization name</th>
          <th>Username</th>
          <th>package(in LPA)</th>
        </tr>
      </thead>
      <tbody>
         {% for object in object_list %}
          {% if object.student.user == user %}
          <tr>
            <td>{{ object.applied_job.organization.organization_name }}</td>
            <td> {{ object.student.user }}</td>
            <td>{{ object.applied_job.package }}</td>
          </tr>
          {% endif %}
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't applied for any job  yet.</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
