{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <!--<th>Quiz</th>-->
          <!--<th>Subject</th>-->
          <!--<th>Score</th>-->
          <th>Organization name</th>
          <th>Username</th>
          <th>package(in LPA)</th>

          <!--<th>Posted on</th>-->
          <!--<th>Offer</th>-->
          <!--<th>Location</th>-->
          <!--<th>No. of postions</th>-->
          <!--<th>Organisation Sector</th>-->
          <!--<th>Job description</th>-->
          <!--<th>Package</th>-->
          <!--<th>Skills</th>-->
          <!--<th>Min CPI</th>-->

        </tr>
      </thead>
      <tbody>
        <!--{% for taken_quiz in taken_quizzes %-->
          <!--<tr>-->
            <!--<td>{{ taken_quiz.quiz.name }}</td>-->
            <!--<td>{{ taken_quiz.quiz.subject.get_html_badge }}</td>-->
            <!--<td>{{ taken_quiz.score }}</td>-->
          <!--</tr>-->


         {% for object in object_list %}
         {% if object.student.user == user %}

         <tr>
           <td>{{ object.applied_job.org.organization_name }}</td>
           <td> {{ object.student.user }}</td>
           <td>{{ object.applied_job.package }}</td>
         </tr>

        {% endif %}
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't applied for any job  yet.</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
