<!DOCTYPE html>
<html>
<head>
	<title>Training and Placement Cell</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width intial-scale=1">
    <link rel="icon" href="image/logo-iiitv.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" crossorigin="anonymous">
    <link href="SE_home.css" rel="stylesheet">
</head>
<body>
	<div class="Placement container-fluid">

		<div class="row">
			<div class="col-lg-12 col-lg-12">
								<div class="LowerDiv">
                   <div class="Header">
                      <img class="d-inline-block align-top IIITLogo" src="http://iiitvadodara.ac.in/img/Logo.jpg" alt="Logo"/>
                         <div class="Title">
                            <h3 id="head1">Training & Placement Cell</h3>
                            <h6 id="p1">Indian Institute of Information Technology, Vadodara</h6>
                         </div>
                    </div>
                </div>
                <div class="UpperDiv">
                	<div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
                         <span class="sr-only">Toggle Navigation</span>
                         <span class="icon-bar" style="background-color:red;"></span>
                         <span class="icon-bar" style="background-color:red;"></span>
                         <span class="icon-bar" style="background-color:red;"></span>
                      </button>
                    </div>
                  <div class="col-md-12 col-sm-12">
                  <div id="myNav" class="Nav navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
		                      <li class="ListItems"><a href="#">WHY IIIT</a></li>
		                      <li class="ListItems"><a href="#">ACADEMICS</a></li>
		                      <li class="ListItems"><a href="#">POLICY</a></li>
		                      <li class="ListItems"><a href="#">PAST RECRUITERS</a></li>
		                      <li class="ListItems"><a href="#">CONTACT</a></li>
                    </ul>
                  </div>
								</div><hr>
                <div class="Details">
                   <p>
                    To install Grunt, you must first download and install node.js
                    (which includes npm). npm stands for node packaged modules and is a
                    way to manage development dependencies through node.js.
                    Then, from the command line:Install grunt-cli globally with npm install -g grunt-cli.
                    Navigate to the root /bootstrap/ directory, then run npm install.
                    npm will look at the package.json file and automatically install the
                    necessary local dependencies listed there.When completed, you'll be able
                    to run the various Grunt commands provided from the command line.
                   </p>
                <div class="Buttons col-lg-12 col-md-6 col-sm-4">
                    <button class="RecruitButton">Recruiter Login</button>
                    <button class="StudentButton">Student Login</button>
                </div>
                </div>
                   </div>
                </div>
		   </div>
		</div>
    </div>
    <!-- About TNP Cell -->

 <div class="container-fluid-padding" style="margin-left:3%; margin-right:3%;">
 	<div class="container">
 		<div class="row">
 			<div class="col-12 text">
 				<h1>About TNP Cell</h1>
 			</div>
 			<hr><br><br>
 			<div class="col-12">
 				<p class=paragraph>Before you can begin to determine what the composition of a particular paragraph will be, you must first decide on an argument and a working thesis statement
                for your paper. What is the most important idea that you are trying to convey to your reader? The information in each paragraph must be related to
                that idea. In other words, your paragraphs should remind your reader that there is a recurrent relationship between your thesis and the information in each paragraph. A working
                thesis functions like a seed from which your paper, and your ideas, will grow. The whole process is an organic one—a natural progression from a seed to a full-blown paper where
                there are direct, familial relationships between all of the ideas in the paper.</p>
 			</div>
 		</div>
 	</div>
   <div class=" container">
   	<div class="col-md-4 card_column">
   		<div class="card">
        <h3>GSOC's 2018 Result</h3>
          <h4>Mentor's Role</h4>
           <h6>
           	<ol>
            <li> Avi Aryan(B.tech 4th Year CS)</li>
            <li> Raju Kaushik(B.tech 4th Year CS)</li>
            <li> Nilesh Chatuevedi(B.tech 4th Year IT)</li>
            <li> Saurabh Jain(B.tech 4th Year CS)</li>
            </ol>
           </h6>
   		</div>
   	</div>
   	<div class="col-md-4 card_column">
   		<div class="card">
        <h3>GSOC's 2018 Result</h3>
          <h4>Student Selection</h4>
            <h6>
             <ol>
             <li>Khilan Ravani(B.tech 2nd Year CS)</li>
             <li>Anshuman Verma(B.tech 2nd Year CS)</li>
             <li>Monal Shadi(B.tech 2nd Year CS)</li>
             <li>Yash Laddha(B.tech 3rd Year CS)</li>
             <li>Saurabh Srivastava(B.tech 3rd Year CS)</li>
             <li>Boddu M.Reddy(B.tech 4th Year CS)</li>
             </ol>
            </h6>
   		</div>
   	</div>
   	<div class="col-md-4 card_column">
   		<div class="card">
        <h3>Placement News</h3>
          <h4>Highlights 2nd season</h4>
            <h6>
             <ol>
             <li>5 Student got placed in TCS</li>
             <li>8 Student got placed in IOCL</li>
             <li>Higest Packeged Claimed 12LPA</li>
             </ol>
            </h6>
   		</div>
   	</div>
   </div>
   </div>

   <!-- Director's Message -->
    <div class="container-fluid-padding" style="margin-left:3%; margin-right:3%;">
    	<div class="container">
    		<div class="row">
    			<div class="col-12 text">
    				<h1>Director's Message</h1>
    			</div>
    			<hr><br><br>
    			<i class="fas fa-quote-left" aria-hidden="true"></i>
    			<div class="col-12 para-container">
    				<div class="card_para">
    				<p>The next movement in paragraph development is an explanation of each example and its relevance to the topic sentence and rationale that were stated at the beginning of the paragraph. This explanation shows readers why you chose to use this/or these particular examples as evidence to support the major claim, or focus, in your paragraph.</p>

                    <p>Continue the pattern of giving examples and explaining them until all points/examples that the writer deems necessary have been made and explained. NONE of your examples should be left unexplained. You might be able to explain the relationship between the example and the topic sentence in the same sentence</p>

                    <p>paragraph development progresses with the expression of some type of support or evidence for the idea and the explanation that came before it. The example serves as a sign or representation of the relationship established.</p>
                    <br><br>
                    <i class="fas fa-quote-right" aria-hidden="true"></i>
                    <h3 class="heading3">Prof.Sarat Kumar Patra</h3>
                    </div>
 			    </div>
    		</div>
    	</div>


    	                                                  <!-- What Company's Says about us-->
 <div class="container-fluid-padding" style="margin-left:3%; margin-right:3%;">
 	<div class="container">
 		<div class="row">
 			<div class="col-12 text">
 				<h1>WHAT COMPANIES SAY ABOUT US</h1>
 			</div>
 			<hr><br><br>
 		</div>
 	</div>
 </div>
 							<div class="showme">hai</div>

               <div class="showhim"><img src="image/disney.jpg" alt="Image" height="100px" Width="100px">
						   </div>




																			 <!-- <div id="onhover1" class="col-md-12">
                                           <h1>this is hover 1</h1>
																			 </div>

																			<div id="onhover2" class="col-md-12">
                                           <h1>this is hover 2</h1>
																			</div>

																			<div id="onhover3" class="col-md-12">
                                         <h1>this is hover 3</h1>
																			</div>

																			<div id="onhover4" class="col-md-12">
                                            <h1>this is hover 4</h1>
																			</div>

																			<div id="onhover5" class="col-md-12">
                                         <h1>this is hover 5</h1>
																			</div> -->

 <!-- <div class="container-fluid-padding">
	 <div class="row padding">
		  <div class="col-md-2">
			 <div class="card1" id="hover1">
				 <img src="image/disney.jpg" data-toggle="popover"alt="ImagePic" width="200px" height="200px"> -->
				 <!-- <script type="text/javascript">
				 $(document).ready(function(){
						 $('[data-toggle="popover"]').popover({
								 placement : 'top',
								 trigger : 'hover',
								 html : true,
								 content : '<div class="media"><a href="#" class="pull-left"><img src="disney.jpg" width="50px" height="50px" class="media-object" alt="Sample Image"></a><div class="media-body"><h4 class="media-heading">Jhon Cena</h4><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
						 });
				 });
				 </script> -->
			 <!-- </div>
		 </div>
		  <div class="col-md-2">
			 <div class="card1" id="hover2">
				 <img src="image/disney.jpg" data-toggle="popover"alt="ImagePic" width="200px" height="200px"> -->
				 <!-- <script type="text/javascript">
				 $(document).ready(function(){
						 $('[data-toggle="popover"]').popover({
								 placement : 'top',
								 trigger : 'hover',
								 html : true,
								 content : '<div class="media"><a href="#" class="pull-left"><img src="disney.jpg" width="50px" height="50px" class="media-object" alt="Sample Image"></a><div class="media-body"><h4 class="media-heading">Jhon Cena</h4><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
						 });
				 });
				 </script> -->
			 <!-- </div>
		 </div>

		 <div class="col-md-2">
			 <div class="card1">
				 <img src="image/airbnb.png"  data-toggle="popover" alt="ImagePic" width="200px" height="200px">
				 <script type="text/javascript"> -->
				 <!-- // $(document).ready(function(){
					// 	 $('[data-toggle="popover"]').popover({
					// 			 placement : 'top',
					// 			 trigger : 'hover',
					// 			 html : true,
					// 			 content : '<div class="media"><a href="#" class="pull-left"><img src="kotak.jpg" width="50px" height="50px" class="media-object" alt="Sample Image"></a><div class="media-body"><h4 class="media-heading">Jhon Teiwan</h4><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
					// 	 });
				 // });
				 // </script>
			 </div>
		 </div> -->

		 <!-- <div class="col-md-2">
			 <div class="card1">
				 <img src="image/india-logo.png"  data-toggle="popover" alt="ImagePic" width="200px" height="200px"> -->
				 <!-- <script type="text/javascript">
				 $(document).ready(function(){
						 $('[data-toggle="popover"]').popover({
								 placement : 'top',
								 trigger : 'hover',
								 html : true,
								 content : '<div class="media"><a href="#" class="pull-left"><img src="Logo.jpg" width="50px" height="50px" class="media-object" alt="Sample Image"></a><div class="media-body"><h4 class="media-heading">Jhon Wright</h4><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
						 });
				 });
				 </script> -->
			 <!-- </div>
		 </div>

		 <div class="col-md-2">
			 <div class="card1">
				 <img src="image/achieve.png" data-toggle="popover" alt="ImagePic" width="150px" height="150px"> -->
				 <!-- <script type="text/javascript">
				 $(document).ready(function(){
						 $('[data-toggle="popover"]').popover({
								 placement : 'top',
								 trigger : 'hover',
								 html : true,
								 content : '<div class="media"><a href="#" class="pull-left"><img src="Logo.jpg" width="50px" height="50px" class="media-object" alt="Sample Image"></a><div class="media-body"><h4 class="media-heading">Jhon Michaiii</h4><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
						 });
				 });
				 </script> -->
		 <!-- </div>
	 </div>
 </div>
</div> -->


    <!---Industry Partners-->

<div class="padding" style="margin-left:3%; margin-right:3%;">
   <div class="container">
	  <div class="row">
		<div class="col-12 text">
			<h1>INDUSTRY PARTNERS</h1>
		</div>
		<hr>
	  </div>
   </div>
</div>
<div class="padding">
   <div class="container">
	  <div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/human_resourses.jpg" class="image-responsive">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/GOG.jpg" class="image-responsive">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/germi.jpg" class="image-responsive ">
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/tcs.jpg" class="image-responsive ">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/fertilizer.jpg" class="image-responsive">
		</div>
	  </div>
   </div>
</div>



    <!-- Footer -->
<footer class="text-left">
    <div class="row">
		<div class="col-sm-3">
			<img class="foot-img" src="http://iiitvadodara.ac.in/img/Logo.jpg">
		</div>
		<div class="col-sm-3">
           <a href="#">
              <span class="spn">Why IIIV</span>
           </a>
              <br>
           <a href="#">
              <span class="spn">Our Students</span>
           </a>
              <br>
           <a href="#">
              <span class="spn">Acadamics</span>
           </a>
              <br>
           <a href="#">
              <span class="spn">Reasearch & Devlopment</span>
           </a>
              <br>
		</div>
		<div class="col-sm-3">
           <a href="#">
              <span class="spn">Recruiter login</span>
           </a>
              <br>
           <a href="#">
              <span class="spn">Student login</span>
           </a>
              <br>
           <a href="#">
              <span class="spn">Policy</span>
           </a>
              <br>
		</div>
		<div class="col-sm-3">
				<h4 class="h4">Training and Placement Cell</h4>
			    <p class="f-para">Block-09, GEC Sector - 28, <br> Gandhinagar, Gujarat - 382028</p>
			    <h4 class="h4">Phone:</h4>
			    <p class="f-para">+91-44-2548678</p>
			    <h4 class="h4">Email </h4>
			    <p class="f-para">placement@iiitv.ac.in</p>
		</div>
	</div>
</footer>
</body>
</html>
