<!DOCTYPE html>
<html>
<head>
	<title>Training and Placement Cell</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width intial-scale=1">
    <link rel="icon" href="image/logo-iiitv.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" crossorigin="anonymous">
    <link href="SE_home.css" rel="stylesheet">
</head>
<body>
	<div class="Placement container-fluid">

		<div class="row">
			<div class="col-lg-12 col-lg-12">
								<div class="LowerDiv">
                   <div class="Header">
                      <img class="d-inline-block align-top IIITLogo" src="http://iiitvadodara.ac.in/img/Logo.jpg" alt="Logo"/>
                         <div class="Title">
                            <h3 id="head1">Training & Placement Cell</h3>
                            <h6 id="p1">Indian Institute of Information Technology, Vadodara</h6>
                         </div>
                    </div>
                </div>
                <div class="UpperDiv">
                	<div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
                         <span class="sr-only">Toggle Navigation</span>
                         <span class="icon-bar" style="background-color:red;"></span>
                         <span class="icon-bar" style="background-color:red;"></span>
                         <span class="icon-bar" style="background-color:red;"></span>
                      </button>
                    </div>
                  <div class="col-md-12 col-sm-12">
                  <div id="myNav" class="Nav navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
		                      <li class="ListItems"><a href="#">WHY IIIT</a></li>
		                      <li class="ListItems"><a href="#">ACADEMICS</a></li>
		                      <li class="ListItems"><a href="#">POLICY</a></li>
		                      <li class="ListItems"><a href="#">PAST RECRUITERS</a></li>
		                      <li class="ListItems"><a href="#">CONTACT</a></li>
                    </ul>
                  </div>
									<div class="mid-line"></div>
								</div>
                <div class="Details">
                   <p>
                    The Placement Cell of IIITV provides a platform to students<br> and recruiters to come tegether and explore mutual interest<br>
                    and alliance. The cell closely works with students for their<br> internship and job opportunities and at the same time with<br>
                    recruiters to provide best industry ready students.
                   </p>
                <div class="Buttons col-lg-12 col-md-6 col-sm-4">
                    <button class="RecruitButton">Recruiter Login</button>
                    <button class="StudentButton">Student Login</button>
                </div>
                </div>
                   </div>
                </div>
		   </div>
		</div>
    </div>
    <!-- About TNP Cell -->

 <div class="container-fluid-padding" style="margin-left:3%; margin-right:3%;">
 	<div class="container">
 		<div class="row">
 			<div class="col-12 text">
 				<h1>About TNP Cell</h1>
 			</div>
 			<hr><br><br>
 			<div class="col-12">
         <p class=paragraph>Training and Placement Unit is an assistance unit which is in charge of connecting with different modern, adminstration and research associations in the nation and abroad with the double point of guaranteeing that the understudies are given sufficient specialized presentation/mechanical training from second year onwards and additionally empowering
         them to get work in associations whose useful necessities of high gauge designers, reasearchers and supervisors are best met
         by graduate and post-graduate understudies of the Institute.</p>
 			</div>
 		</div>
 	</div>
   <div class=" container">
   	<div class="col-md-4 card_column">
   		<div class="card">
        <h3>GSOC's 2018 Result</h3>
          <h4>Mentor's Role</h4>
           <h6>
           	<ol>
            <li> Avi Aryan(B.tech 4th Year CS)</li>
            <li> Raju Kaushik(B.tech 4th Year CS)</li>
            <li> Nilesh Chatuevedi(B.tech 4th Year IT)</li>
            <li> Saurabh Jain(B.tech 4th Year CS)</li>
            </ol>
           </h6>
   		</div>
   	</div>
   	<div class="col-md-4 card_column">
   		<div class="card">
        <h3>GSOC's 2018 Result</h3>
          <h4>Student Selection</h4>
            <h6>
             <ol>
             <li>Khilan Ravani(B.tech 2nd Year CS)</li>
             <li>Anshuman Verma(B.tech 2nd Year CS)</li>
             <li>Monal Shadi(B.tech 2nd Year CS)</li>
             <li>Yash Laddha(B.tech 3rd Year CS)</li>
             <li>Saurabh Srivastava(B.tech 3rd Year CS)</li>
             <li>Boddu M.Reddy(B.tech 4th Year CS)</li>
             </ol>
            </h6>
   		</div>
   	</div>
   	<div class="col-md-4 card_column">
   		<div class="card">
        <h3>Placement News</h3>
          <h4>Highlights 2nd season</h4>
            <h6>
             <ol>
             <li>5 Student got placed in TCS</li>
             <li>8 Student got placed in IOCL</li>
             <li>Higest Packeged Claimed 12LPA</li>
             </ol>
            </h6>
   		</div>
   	</div>
   </div>
   </div>

   <!-- Director's Message -->
    <div class="container-fluid-padding" style="margin-left:3%; margin-right:3%;">
    	<div class="container">
    		<div class="row">
    			<div class="col-12 text">
    				<h1>Director's Message</h1>
    			</div>
    			<hr><br><br>
    			<i class="fas fa-quote-left" aria-hidden="true"></i>
    			<div class="col-12 para-container">
    				<div class="card_para">
    				<p>I, on behalf of IIIT Vadodara, welcome your organisation to the institute for recruiting the third undergraduate batch of students. I also welcome you to recruit pioneer batch postgraduate students. IIIT Vadodara enters into sixth year of existence. In these infancy years our students have contributed immensely.</p>

                    <p>Our undergraduate academic programs; B Tech in Computer Science Eng and Information Technology have a progressive curriculum with balance of theory and lab courses, project work along with industry experience through internship and industry project. The institute has a vibrant academic environment. The institute has all having 100% faculty members with PhD degree. Many of our students have succeeded in international and national events like Google Summer Code (GSoC), Smart India Heckathon name a few. I am sure, our students will contribute in taking your company to greater heights. </p>

                    <p>I also request all industries to contribute to our academic curriculum in terms of suggestions, offering industry courses in making out graduates industry ready. I also invite you to participate in joint research initiative. </p>

                    <p>I once again welcome you to our institute </p>
                    <br><br>
                    <i class="fas fa-quote-right" aria-hidden="true"></i>
                    <h3 class="heading3">Prof.Sarat Kumar Patra</h3>
                    </div>
							</div>
 			    </div>
    		</div>
    	</div>


    	                                                  <!-- What Company's Says about us-->
 <div class="container-fluid-padding" style="margin-left:3%; margin-right:3%;">
 	<div class="container">
 		<div class="row">
 			<div class="col-12 text">
 				<h1>WHAT COMPANIES SAY ABOUT US</h1>
 			</div>
 			<hr><br><br>
 		</div>
 	</div>
 </div>

 <div class="container-fluid-padding">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
							<div class="col-md-2" style="margin-top:5%; margin-bottom:3%;">
							  <img src="image/km2.jpg" alt="PicofCom" width="100px" height="100px" style="border-radius:50%; margin-top:5%;">
							</div>
							<div class="col-md-10" style="margin-top:5%; margin-bottom:3%;">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
								<h5 style="font-weight:bold; margin-top:3%;">Harikrushana,Kotak Mahindra</h5>
							</div>
				</div>
			</div>
			</div>
			<div class="tri-angle">
			</div>
	 <div class="row padding" style="margin-left:10%;">
		  <div class="col-md-2">
				<a href="#">
				 <img src="image/kotak.jpg" data-toggle="popover"alt="ImagePic" width="200px" height="200px">
				</a>
		 </div>
		  <div class="col-md-2">
				<a href="#">
				 <img src="image/disney.jpg" data-toggle="popover"alt="ImagePic" width="200px" height="200px">
				</a>
		 </div>
		 <div class="col-md-2">
			 <a href="#">
				 <img src="image/airbnb.png"  data-toggle="popover" alt="ImagePic" width="200px" height="200px">
				</a>
		 </div>

		  <div class="col-md-2">
				<a href="#">
				 <img src="image/india-logo.png"  data-toggle="popover" alt="ImagePic" width="200px" height="200px">
				</a>
		 </div>

		 <div class="col-md-2">
			 <a href="#">
				 <img src="image/achieve.png" data-toggle="popover" alt="ImagePic" width="150px" height="150px">
			 </a>
	 </div>
 </div>
</div>


                                                              <!---Industry Partners-->

<div class="padding" style="margin-left:3%; margin-right:3%;">
   <div class="container">
	  <div class="row">
		<div class="col-12 text">
			<h1>INDUSTRY PARTNERS</h1>
		</div>
		<hr>
	  </div>
   </div>
</div>
<div class="padding">
   <div class="container">
	  <div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/human_resourses.jpg" class="image-responsive">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/GOG.jpg" class="image-responsive">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/germi.jpg" class="image-responsive ">
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/tcs.jpg" class="image-responsive ">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="image/fertilizer.jpg" class="image-responsive">
		</div>
	  </div>
   </div>
</div>
<!-- Footer -->

   <footer class="container-fluid text-left">
			<div class="row">
	    		<div class="col-sm-3">
              <img class="foot-img" src="http://iiitvadodara.ac.in/img/Logo.jpg">
          </div>
          <div class="col-sm-3">
              <a href="#">
                 <span class="spn">Why IIITV</span>
              </a>
                                <br>
              <a href="#">
                 <span class="spn">Our Students</span>
              </a>
                                <br>
              <a href="#">
                 <span class="spn">Acadamics</span>
              </a>
                                <br>
              <a href="#">
                 <span class="spn">Reasearch & Devlopment</span>
              </a>
                                <br>
          </div>
          <div class="col-sm-3">
              <a href="#">
                 <span class="spn">Recruiter login</span>
              </a>
                                <br>
              <a href="#">
                 <span class="spn">Student login</span>
              </a>
                                <br>
              <a href="#">
                 <span class="spn">Policy</span>
              </a>
                                <br>
          </div>
          <div class="col-sm-3">
              <h4 class="h4">Training and Placement Cell</h4>
              <p class="f-para">Block-09, GEC Sector - 28, <br> Gandhinagar, Gujarat - 382028</p>
							<h4 class="h4">Phone:</h4>
							<p class="f-para">+91-44-2548678</p>
							<h4 class="h4">Email </h4>
							<p class="f-para">placement@iiitv.ac.in</p>
         </div>
     </div>
</footer>



</body>
</html>
