<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="student-register.css">
  </head>
  <body>
    <nav class="navbar  navbar-static-top example6" >
      <div class="container">
        <div class="navbar-header" style="height:73px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color:skyblue;"></span>
            <span class="icon-bar" style="background-color:skyblue;"></span>
            <span class="icon-bar" style="background-color:skyblue;"></span>
          </button>
          <a class="navbar-brand" href="#">
          <img  src="http://iiitvadodara.ac.in/img/Logo.jpg" alt="IIIT logo">
         </a>
         <div class="headings">
           <h4>Training & Placement Cell</h4>
           <h6>Indian Institute of Information Technology Vadodara</h6>
         </div>
        </div>
        <div id="navbar6" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="margin-top:2%;">
            <li class="#"><a href="#">WHYIIITV</a></li>
            <li><a href="#">ACADAMICS</a></li>
            <li><a href="#">POLICY</a></li>
            <li><a href="#">PAST REQUITERS</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
                                                           <!-- IMAGE & CARD SECTION -->
     <div class="row loginAreaImage" style="margin-left:0;">
       <div  class="container-fluid col-lg-12">
         <div class="card" style="width:70%;">
           <a href="#">
           <span><i class="fas fa-home"></i></span>
           </a>
            <a href="#">
            <span><i class="fas fa-cog"></i></span>
            </a>
            <button type="button" name="button" class="btnn" id="bt1">JOBS</button>
            <button type="button" name="button" class="btnn" id="bt2">DASHBOARD</button>
            <hr>
            <div class="mid-line"></div>
          <div class="row" style="width:80%; margin-left:15%; margin-top:3%;">
            <div class="col-xs-3">
              <a href="#">
                <span><i class="fas fa-graduation-cap active"></i></span>
              </a>
            </div>
              <div class="col-xs-3">
                <a href="#">
                <span><i class="fas fa-briefcase"></i></span>
                </a>
              </div>
              <div class="col-xs-3">
                <a href="#">
                  <span><i class="fas fa-sun"></i></span>
                </a>
              </div>

            <div class="col-xs-3">
              <a href="#">
                <span><i class="fas fa-folder"></i></span>
              </a>
            </div>
             </div>
               <div class="arrow-up"></div>


     <div class="panel panel-primary">
      <div class="panel-heading" style="letter-spacing:1px; font-weight:600;">Experience</div>
      <div class="panel-body">
        <div class="well well-sm" style="background-color:#D1D1D1;">Internships
          <span class="plus">
             <a href="#">+</a>
          </span>
        </div>
        <div class="well well-sm" style="background-color:#D1D1D1;">Tranings
          <span class="plus">
             <a href="#">+</a>
          </span>
        </div>
        <div class="well well-sm" style="background-color:#D1D1D1;">Projects
          <span class="plus">
             <a href="#">+</a>
          </span>
        </div>
        <div class="well well-sm" style="background-color:#D1D1D1;">Position of Responsibility
          <span class="plus">
             <a href="#">+</a>
          </span>
        </div>
        <button type="button" name="button" class="btnn" id="bt1">NEXT</button>
      </div>
    </div>


          </div>
         </div>
     	</div>
    </div>
                                                          <!-- FOOTER -->
    <footer class="container-fluid text-left">
        <div class="row">
             <div class="col-sm-3">
                 <img class="foot-img" src="http://iiitvadodara.ac.in/img/Logo.jpg">
             </div>
             <div class="col-sm-3">
                        <a href="#">
                           <span class="spn">Why IIITV</span>
                        </a>
                                    <br>
                        <a href="#">
                          <span class="spn">Our Students</span>
                        </a>
                                    <br>
                        <a href="#">
                          <span class="spn">Acadamics</span>
                        </a>
                                    <br>
                        <a href="#">
                          <span class="spn">Reasearch & Devlopment</span>
                        </a>
                                    <br>
             </div>
             <div class="col-sm-3">
                        <a href="#">
                          <span class="spn">Recruiter login</span>
                        </a>
                                    <br>
                        <a href="#">
                          <span class="spn">Student login</span>
                        </a>
                                    <br>
                        <a href="#">
                          <span class="spn">Policy</span>
                        </a>
                                    <br>
             </div>
             <div class="col-sm-3">
                       <h4 class="h4">Training and Placement Cell</h4>
                         <p class="f-para">Block-09, GEC Sector - 28, <br> Gandhinagar, Gujarat - 382028</p>
                       <h4 class="h4">Phone:</h4>
                         <p class="f-para">+91-44-2548678</p>
                       <h4 class="h4">Email </h4>
                         <p class="f-para">placement@iiitv.ac.in</p>
             </div>
          </div>
    </footer>

  </body>
</html>
