<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Why We</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="WHY_we.css">
  </head>
  <body>
                                            <!-- NAVIGATION BAR -->
          <nav class="navbar  navbar-static-top example6" >
            <div class="container">
              <div class="navbar-header" style="height:73px;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar" style="background-color:skyblue;"></span>
                  <span class="icon-bar" style="background-color:skyblue;"></span>
                  <span class="icon-bar" style="background-color:skyblue;"></span>
                </button>
                <a class="navbar-brand" href="#">
                <img  src="http://iiitvadodara.ac.in/img/Logo.jpg" alt="IIIT logo">
               </a>
               <div class="headings">
                 <h4>Training & Placement Cell</h4>
                 <h6>Indian Institute of Information Technology Vadodara</h6>
               </div>
              </div>
              <div id="navbar6" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-top:2%;">
                  <li class="#"><a href="#">WHYIIITV</a></li>
                  <li><a href="#">ACADAMICS</a></li>
                  <li><a href="#">POLICY</a></li>
                  <li><a href="#">PAST REQUITERS</a></li>
                  <li><a href="#">CONTACT</a></li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
          </nav>
                                                   <!-- CODER-IMAGE-PORTION -->

         <div class="row loginAreaImage">
           <div  class="container col-md-9">
             <h1 class="hh1">Why You Should</h1>
             <h1 class="hh2">Choose Us</h1>
         	</div>
         </div>

                                                  <!-- OUR STUDENTS -->
        <div class="padding" style="margin-top:5%; margin-left:3%; margin-right:3%">
        	<div class="container">
        		<div class="row">
        			<div class="col-sm-12 text">
        				<h1>Our Students</h1>
        			</div>
        			<hr>
        			<div class="col-12">
        				<p class=paragraph>IIIT Vadodara draws on a save of expational ability as a side-effect of its perticular and stirngent exams like Joint Entrance Exam (JEE) and for admissions to all the UG projects and Graduate Appyitude Test in Engineering (GATE) for admissions to all PG programs. Apparently the hardest examination on the planet,
                   the JEE is led by diffrent IITs by an arrangement of turn and is the sole criteria for affirmation in establishments</p>
                   <p class="paragraph">With it testing issues that test the profundity of the hopeful's information, the unexpected component of the consistently differing design and the gigantic rivalry
                      clearing the JEE Mains though about the zenith of accomplishment for an understudy in India</p>
                      <p class="paragraph">Our students in IIIT vadodara are highly active in participating some of the best coding competitions.</p>
        			</div>
        		</div>
        	</div>
          <div class="container" style="width:80%;margin-left:10%;">
            <div class="col-md-4 card_column">
              <div class="card" style="width:70%;">
                  <img class="card-img-top img11" src="image/Gsoc.png" alt="Card image cap">
             </div>
            </div>
            <div class="col-md-4 card_column">
              <div class="card" style="width:70%;">
                  <img class="card-img-top img11" src="image/hackerrank.jpeg" alt="Card image cap">
             </div>
            </div>
            <div class="col-md-4 card_column">
              <div class="card" style="width:70%;">
                  <img class="card-img-top img22" src="image/codechef.jpeg" alt="Card image cap">
             </div>
            </div>
          </div>
        </div>

                                                                  <!-- ACADEMICS -->
          <div class="padding" style="margin-top:5%; margin-left:3%; margin-right:3%">
          <div class="container">
          	<div class="row">
          		<div class="col-sm-12 text">
          			<h1>Acadamics</h1>
          		</div>
          		<hr>
          		<div class="col-12">
          			<p class="lead">IIIT Vadodara draws on a save of expational ability as a side-effect of its perticular and stirngent exams like Joint Entrance Exam (JEE) and for admissions to all the UG projects and Graduate Appyitude Test in Engineering (GATE) for admissions to all PG programs. </p>
          			<p class="lead">With it testing issues that test the profundity of the hopeful's information,</p>
          			<p class="lead">Some Major Course we offers</p>
          		</div>
          	</div>
          </div>
          </div>
          <!-- Photo Grid -->
          <div class="row">
            <div class="column col-md-2">
              <img src="image/java.jpg" style="width:120px; height:120px;">
              <img src="image/artificial-intelligence.jpg" style="width:140px; height:140px;">
              <img src="image/cn.jpg" style="width:100px; height:100px;">
              <img src="image/algo.jpg" style="width:220px; height:220px;">
              <img src="image/DBMSLogo.png" style="width:120px; height:120px;">
              <!-- <img src="7.jpg" style="width:50px; height:50px;">
              <img src="8.jpg" style="width:50px; height:50px;"> -->
            </div>
          </div>
          <div class="row Row11">
            <div class="column col-md-4">
              <img src="image/information-retrieval.png" style="width:140px; height:140px;">
              <img src="image/ds.jpg" style="width:100px; height:100px;">
              <img src="image/ml.png" style="width:120px; height:120px;">
              <!-- <img src="6.jpg" style="width:150px; height:150px;"> -->
              <!-- <img src="5.jpg" style="width:50px; height:50px;">
              <img src="4.jpg" style="width:50px; height:50px;"> -->
            </div>
          </div>


                                                                  <!-- BEYOND ACADEMICS -->
          <div class="padding" style=" margin-left:3%; margin-right:3%">
          <div class="container">
          	<div class="row">
          		<div class="col-sm-12 text">
          			<h1>Beyond Academics</h1>
          		</div>
          		<hr>
          		<div class="col-12">
          			<p class="paragraph">IIIT Vadodara draws on a save of expational ability as a side-effect of its perticular and stirngent exams like Joint Entrance Exam (JEE) and for admissions
                  to all the UG projects and Graduate Appyitude Test in Engineering (GATE) for admissions to all PG programs. </p>
          			<p class="paragraph">With it testing issues that test the profundity of the hopeful's information,</p>
          			<p class="paragraph">Some Major Course we offers</p>
          		</div>
          	</div>
          </div>
          </div>
          <div class="container-fluid-padding" style="width:85%; margin-left:4%;">
          <div class="row padding">
          	<div class="col-md-4">
          		<div class="card crd-sze">
          			<img class="card-img-top Img" src="image/Kreiva2.jpg" alt="Card image cap">
          			<div class="card-body" style="padding:3%;">
          				<h4 class="card-tittle"><b> Kreiva, Cultural Fest </b></h4>
          				<p class="card-text">The festival boasts of events in dance, debating, quizzing, dramatics, fine arts etc along with recreational packages of a Rock nite, Pronite, Dance podium, Fashion shows (Lifestyle) and many </p>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="card crd-sze">
          			<img class="card-img-top Img" src="image/cerebro.png" alt="Card image cap" >
          			<div class="card-body" style="padding:3%;">
          				<h4 class="card-tittle"><b> Celebro, Tech Fest </b> </h4>
          				<p class="card-text">The festival boasts of events in dance, debating, quizzing, dramatics, fine arts etc along with recreational packages of a Rock nite, Pronite, Dance podium, Fashion shows (Lifestyle) and many </p>
          			</div>
          		</div>
          	</div>
          	<div class="col-md-4">
          		<div class="card crd-sze">
          			<img class="card-img-top Img" src="image/ventura1.png"  alt="Card image cap">
          			<div class="card-body " style="padding:3%;">
          				<h4 class="card-tittle"><b> Ventura, Sports Fest</b></h4>
          				<p class="card-text">The festival boasts of events in dance, debating, quizzing, dramatics, fine arts etc along with recreational packages of a Rock nite, Pronite, Dance podium, Fashion shows (Lifestyle) and many </p>
          			</div>
          		</div>
          	</div>
          </div>
          </div>


                                                  <!-- FOOTER -->
        <footer class="text-left">
            <div class="row">
                 <div class="col-sm-3">
                     <img class="foot-img" src="http://iiitvadodara.ac.in/img/Logo.jpg">
                 </div>
                 <div class="col-sm-3">
                            <a href="#">
                               <span class="spn">Why IIITV</span>
                            </a>
                                        <br>
                            <a href="#">
                              <span class="spn">Our Students</span>
                            </a>
                                        <br>
                            <a href="#">
                              <span class="spn">Acadamics</span>
                            </a>
                                        <br>
                            <a href="#">
                              <span class="spn">Reasearch & Devlopment</span>
                            </a>
                                        <br>
                 </div>
                 <div class="col-sm-3">
                            <a href="#">
                              <span class="spn">Recruiter login</span>
                            </a>
                                        <br>
                            <a href="#">
                              <span class="spn">Student login</span>
                            </a>
                                        <br>
                            <a href="#">
                              <span class="spn">Policy</span>
                            </a>
                                        <br>
                 </div>
                 <div class="col-sm-3">
                           <h4 class="h4">Training and Placement Cell</h4>
                             <p class="f-para">Block-09, GEC Sector - 28, <br> Gandhinagar, Gujarat - 382028</p>
                           <h4 class="h4">Phone:</h4>
                             <p class="f-para">+91-44-2548678</p>
                           <h4 class="h4">Email </h4>
                             <p class="f-para">placement@iiitv.ac.in</p>
                 </div>
              </div>
        </footer>

  </body>
</html>
